body
{
    background-color: aquamarine;
}

#score
{
    margin-left: 500px;
    font-size:x-large;
    float: left;
    margin-top: 50px;
}

#timer
{
    margin-right: 500px;
    font-size:x-large;
    float: right;
    margin-top: 50px;
}

#aggoodp
{
    color: brown;
    font-weight: bold;
}